<% provide(:title, "Career") %>

<h1 class="keireki">経歴</h1>

<p>
  【職務要約】<br>
  　高校卒業後、電気メーターの検針業務を受託している、関電サービス株式会社へ入社。<br>
  　現場でお客さま対応業務に従事した後、新人育成担当となる。正社員３名、契約社員２名、パート１０名を
  現任訓練し育成する。<br>
  　その後、業務効率化担当となり、R P Aを導入し月間１６０時間分の人件費削減を行った。
</p>

<div class="contents">
  <h2>関電サービス株式会社（事業内容：電力関連事業　　資本金：7000万円　　従業員：3815名）</h2>

    <div>
      <div class="block">
        <p>営業部</p>
        <p>2018.10　-　2020.1</p>
      </div>
      <ul class="career_text">
        <li>業務効率化</li>
      </ul>
    </div>

    <div>
      <div class="block">
        <p>東大阪営業所</p>
        <p>2015.7　-　2018.9</p>
      </div>
      <ul class="career_text">
        <li>新人教育</li>
      </ul>
    </div>

    <div>
      <div class="block">
        <p>南大阪営業所</p>
        <p>2013.4　-　2015.6</p>
      </div>
      <ul class="career_text">
        <li>電気メーターの検針作業</li>
        <li>お客さま対応</li>
      </ul>
    </div>

</div>

