<% provide(:title, "Home") %>
<h1>プロフィール</h1>
<div class="home-main">
  <div class="home-main__left">
    <%= image_tag 'home_resize.jpg', size: '380x300' %>
  </div>
  <div class="home-main__right">
    <ul>
      <li class="name">永橋　翼</li>
      <li class="text">
          1994年大阪府岸和田市生まれ。
          2013年岸和田市立産業高等学校卒業。
          同年関電サービス株式会社に入社。
          電力関連事業に6年半従事する。
          今後のキャリアや自身の人生設計を考え同社を2020年1月に退社。
          興味のあったプログラミングを2019年7月から学ぶ。
          現在は日々知識を習得しながら就職活動中。<br>
          座右の銘は「明日が来ると思うな」
      </li>
    </ul>
  </div>
</div>
