.keireki {
  margin-bottom: 50px;
}

.contents {
  margin-top: 100px;
  .block {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 100px;
    margin-top: 50px;
  }
}

.career_text {
  margin-left: 50px;
}