<footer class="footer">
  <small>
    ©️ 2020 mypage Nagahashi Tsubasa
  </small>
  <nav>
    <ul>
      <li>
        <%= link_to("https://github.com/TsubasaNagahashi") do %>
          <%= fa_icon 'github lg' %>
        <% end %>
      </li>
      <li>
        <%= link_to("https://twitter.com/nagahashi12") do %>
          <%= fa_icon 'twitter lg' %>
        <% end %>
      </li>
      <li><a href="https://tsubasanagahashi.hatenablog.com/">Blog</a></li>
    </ul>
  </nav>
</footer>
